body {
    margin: 0;
    box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerar horisontellt */
    justify-content: flex-end; /* Trycker innehållet längst ner */
    height: 80vh;
 background-color: #00FA9A;
}
 
.hamburger-navicon {
width: fit-content;
align-self: center;
}
.ninja {
    width: fit-content;
    margin-bottom: 0px;
}
.Astronaut{
    width: fit-content;
}
h1 {
  align-self: center;
}
  

  
