body {
    margin: 0;
    box-sizing: border-box;
  font-family: 'Gill Sans', sans-serif;
  background-color: rgb rgb(18, 18, 18);
}
header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrerar horisontellt */
    justify-content: flex-end; /* Trycker innehållet längst ner */
    height: 80vh;
 background-color: #00FA9A;
}
 
.hamburger-navicon {
width: fit-content;
align-self: center;
}
.ninja {
    width: fit-content;
    margin-bottom: 0px;
}


h1 {
  align-self: center;
}
main {
  max-width: 1054px;
  margin: 5rem auto;
}
  
.Astronaut {
    width: fit-content;
}
.Ninja2 {
  width: fit-content;
}
.Nerd {
  width: fit-content;
}
.small-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
.small-card {
  color: white;
    max-width: 300px;
    display: flex;
    flex-direction: column;
  
}
